// .slideshow {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 60%;
//     margin: 0 auto;
// }

// button {
//     font-size: 16px;
//     padding: 8px;
//     cursor: pointer;
// }

// img {
//     max-width: 100%;
//     height: auto;
//     border: 1px solid #ddd;
//     border-radius: 4px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

.slideshow {
    width: 80%;
    margin: auto;
    position: relative;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.active {
    transform: translateX(0);
}