.main__home {
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-bottom: 43px;
}



.banner__home {
    display: flex;
    flex-direction: column;
}