.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    margin: 66px 33% 29px 33%;
    align-items: center;
    gap: 28.56px;
    min-width: 513px;

    p {
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
    }

    &.logo--color {
        color: white;
    }

    &.logo--size {
        width: 122px;
        height: 39.444px;
    }
}