.banner {
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    /* 68.448px */
    position: absolute;
}

.image--size {
    position: absolute;
    width: 100%;
    /* Assurez-vous que l'image prend la largeur totale de la div parente */
    height: auto;
    /* Pour maintenir le ratio hauteur/largeur de l'image */
    display: block;

}

.image--brigthness {
    filter: brightness(0.8);
}