.banner {
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    &.image--brightness {
        img {
            filter: brightness(0.8); // ajustez la valeur selon vos besoins
        }
    }
}

h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    position: absolute;
    font-weight: 500;
}

.image--size {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}