.notfound__main {
    gap: 139px;
}

.notfound__main h2 {
    height: 263px;
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;

}

.notfound__main h3 {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

}

.notfound__main p {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

    text-decoration-line: underline;
}